<!-- Sidebar -->
<div class="bg-white border-right" id="sidebar-wrapper" >
  <div class="sidebar-heading">
    <img src="assets/images/bplogo.jpg" width="200" height="65" alt="Logo Banco Pichincha">
  </div>
  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action bg-white">Mis Productos</a>
    <a href="#" class="list-group-item list-group-item-action bg-white">Transferencias</a>
    <a href="#" class="list-group-item list-group-item-action bg-white">Pagos</a>
    <a href="#" class="list-group-item list-group-item-action bg-white">Solicitar Productos</a>
    <a href="#" class="list-group-item list-group-item-action bg-white">Otros Servicios</a>
    <a href="#" class="list-group-item list-group-item-action bg-white">Mis contactos</a>
    <a href="#" class="list-group-item list-group-item-action bg-white">Clave digital</a>
  </div>
</div>

