<div class="d-flex" id="wrapper">
  <app-menuizq></app-menuizq>
  <!-- Page Content -->
  <div >
    <app-cabecera></app-cabecera>
    <div class="container-fluid w-100 h-100 bg-light">
      <h1>Ejercicio contador</h1>
      <app-cronometro [minutes]="22"
                      [segundo]="30"
                      (markTime)="addToTimeStamps($event)"
                      (clearTimeLogs)="clearTimeStamps()"></app-cronometro>
      <div class="container pt-2">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let time of timeStamps">
              <span>Timer: </span>{{time * 1000 | date:'mm:ss'}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
